<%- include("header") -%>

    <header>
        <div id="uppertag">
            <ul>
                <li> <form action="/" method="get"> <button type="submit" style="background-color: transparent; border:none;"  class="preClicked">Home</button></form></li>
                <li> <form action="/contact" method="get"><button type="submit" style="background-color: transparent; border:none;" >Contact Us</button></form></li>
            </ul>
        </div>
    </header>

    <section>
        <p class="sectionText">This is home page.</p>
    </section>

<%- include("footer") -%>